<div>
  <%= image_tag('YEAH_IT_FUCKEN_DUZ.jpg') %>
</div>
<br/>
<br/>
<br/>


<div class="col-lg-12">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-centered">
      <img src="<%= @reason["data"][0]["link"] %>" style="height: 300px;">
    </div>
  </div>
</div>



